<!doctype html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
    <h1><%= title %> | <%= question.title%></h1>
    <ul>
        <li>ID: <%= question._id %></li>
        <li>Name: <%= question.title %></li>
        <li>Body: <%= question.body %></li>
        <li>Tags: <%= question.tags %></li>
    </ul>
    </body>
</html>
