<!doctype html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Please select the question you would like to be deleted:</p>
        
        <% for(var i = 0; i < questions.length; i++) { %>
        	<form action="./<%= questions[i].id %>" method="post">
        		<p><input type="checkbox" name="delete_target" value="true"><b>Title: </b><%= questions[i].title %>
        		<br><b>Id: </b><%= questions[i].id %>
        		<input type="hidden" value="delete" name="_method" />
        		<input type="submit" value="Delete"> </p>

        	</form>
        	<br>
        <% } %>
    </body>
</html>
