<% include ../shared/header %>
<div class="row">
    <h1><%= title %></h1>
</div>
<div class="row">
    <table class="striped rounded">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < questions.length; i++)  { %>
            <tr>
        		<td><%= questions[i]._id %></td>
        		<td><%= questions[i].title %></td>
        		<td><%= questions[i].body %></td>
        		<td><%= questions[i].tags %></td>
            </tr>
        <% } %>
        </tbody>
</div>
<% include ../shared/footer %>
